.banner {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    border: solid black 1px;
    background: white;
    width: 50%;
    text-align: center;
    margin-left: 25%;
    top: 30%;
    padding: 5%;
}