.search {
  grid-column: 1 / 3;

  &__form {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 80%;
        align-items: center;
        &--input {
            display: flex;
            flex-direction: column;
            width: 100%;
            
            label {
                font-size: 1.4rem;
            }

            input {
                border: solid 1px black;
                font-family: inherit;
                padding: 1rem;
            }
        }
    }
}